:host {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.section {
    margin-top: 20px;
}

.top {
    display: flex;
    flex-direction: row;
}

.name-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.name {
    font-size: 40px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    height: 50%;
}

.account {
    color: var(--msc-subtle-text-color);
    margin-bottom: 10px;
}

.user-message {
    font-weight: lighter;
    text-align: justify;
    font-size: 20px;
}

.call-to-action {
    background-color: rgba(255,255,255,0.05);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.action-area {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.settings {
}

.action {
    width: 300px;
    height: 32px;
    background-color: #00b050;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: lighter;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #abbab2;
    text-transform: none;
}

.follow {
    background-color: #3b3838;
}

.follow[following] {
    background-color: #00b050;
}

paper-toggle-button {
    margin: 10px;
    font-size: 1.5em;
    font-weight: lighter;
}

msc-tip-button {
    width: 90%;
    height: 32px;
    --msc-tip-button-font-size: larger;
}

msc-user-balance {
    --msc-user-balance-font-size: larger;
}

.action {
}

.action[failed] {
    background-color: #81281b;
}

.action[pending] {
    background-color: #3e4e3e;
    background-size: 64px 64px;
    background-image: linear-gradient(135deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%,
    transparent 75%,
    transparent);

    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 128px 0;}
}