:host {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.top {
    display: flex;
    flex-direction: row;
}

.pic {
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.name-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.name {
    font-size: 40px;
    font-weight: lighter;
    display: flex;
    display: flex;
    align-items: center;
    height: 50%;
}

.social {

}

.songs {

}

.bio {
    font-weight: lighter;
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.action {
    width: 90%;
    height: 32px;
    background-color: #00b050;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: lighter;
    border-radius: 4px;
    cursor: pointer;
}

.follow {
    background-color: var(--msc-background-hightlight);
}

.follow[following] {
    background-color: rgba(255,255,255,0.2);
}

msc-tip-button {
    width: 90%;
    height: 32px;
    --msc-tip-button-font-size: larger;
}