:host {

}

.container {
    display: flex;
    flex-direction: column;
}

.title-area {
    display: flex;
    align-content: center;
    font-size: 1.5em;
    font-weight: lighter;
}

.group-action {
    padding: 0px;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin-left: 10px;
    transition: opacity 1s;
}

.container:hover .group-action {
    opacity: 1;
}

.main-area {
    display: flex;
    flex-grow: 1;
    background-color: var(--msc-background-hightlight);
    margin-right: 10px;
    border-radius: 2px;
}

.artwork {
    width: 128px;
    height: 128px;
    background-size: cover;
    background-position: center;
}

.playlist-items {
    width: 100%;
    border-spacing: 0;
}

.standard-column {
    padding: 5px 10px 5px 5px;
}

.image-column {
    width: 32px;
    height: 32px;
}

.title-column {
    width: 200px;
    overflow: hidden;
}

.index-column {
    width: 20px;
    overflow: hidden;
    text-align: center;
}

.artist-column {
    width: 200px;
    overflow: hidden;
}

.playlist-entry {
    color: var(--msc-subtle-text-color);
    cursor: pointer;
}

.playlist-entry[selected] {
    background-color: var(--msc-background-hightlight);
    color: var(--primary-text-color);
}

.playlist-entry:hover {
    color: var(--primary-text-color);
}

.table-container {
    flex-grow: 1;
}



