:host {

}

#addNewPlaylistButton {
    position: absolute;
    top: 1em;
    right: 2em;
    z-index: 3;
    background-color: #2176bd;
}

msc-player-view {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

#playlistsGrid {
    background-color: #2c2c2c;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 2;
}

msc-playlist-editor-view {
    background-color: #2c2c2c;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 4;
}