interface/bower_components/
nohup.out
npm-debug.log
runwatched.sh
watcher.sh
switchworkspace.sh
node_modules/*
/**/.DS_Store
.atomignore
hub/ether.settings.js
build/
bin/
config/config.ext.js
.DS_Store
package-lock.json
bootnodes.json.org
