interface/bower_components/
nohup.out
npm-debug.log
runwatched.sh
watcher.sh
switchworkspace.sh
node_modules/*
!node_modules/sha3/
!node_modules/secp256k1/
node_modules/
.atomignore
hub/ether.settings.js
build/
config/config.ext.js
.DS_Store
