:host {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right:0;
  background-color: grey;
  display: flex;
  border-radius: 1em 0 0 0;
}
span {
  padding: 0.5em 1em;
  color: #aaa;
}
span[service-on] {
  color: #eee;
}
span:not([service-on])>#chainSync {
  display: none;
}
