:host {
    background-size: cover;
    background-image: url(../../images/login.jpg);
    display: flex;
    justify-content: center;
}

.login-elements {
    position: fixed;
    top: 50%;
    left: 20%;
    width: 45%;
    height: 25%;
    padding: 2em;
    transform: translate(-35%, -50%);
}

.login-text-box {
    --paper-input-container-color: #686868;
    --paper-input-container-focus-color: var(--msc-highlight-color);
    --paper-input-container-input-color: var(--msc-highlight-color);
}

.login-label {
    font-size: 2em;
    display: flex;
    align-items: center;
}

.action {
    color: var(--msc-highlight-color);
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
}

paper-dropdown-menu {
    width: 100%;
}

.version {
    position: absolute;
    top: 20px;
    right: 20px;
}

.user-area {
    display: flex;
    flex-direction: row;
}

identicon-element {
    margin-right: 10px;
}

.dropdown-content {
    background-color: var(--msc-opaque-background);
}