:host {
    color: #686868;
    background-size: cover;
    background-image: url(../../images/login.jpg);
    display: flex;
    justify-content: center;
}

.login-elements {
    position: fixed;
    top: 50%;
    left: 20%;
    width: 30%;
    height: 25%;
    padding: 2em;
    transform: translate(-50%, -50%);
}

.login-text-box {
    --paper-input-container-color: #686868;
    --paper-input-container-focus-color: #2176bd;
    --paper-input-container-input-color: #2176bd;
}

.login-label {
    font-size: 2em;
}

#skipLoginButton {
    color: #2176bd;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
}