h3 {
    font-weight: lighter;
    margin-bottom: 0px;
}

paper-button {
    text-transform: none;
}

paper-button > iron-icon {
    margin-right: 5px;
}

paper-input {
    --paper-input-container-color: #aaa;
    --paper-input-container-focus-color: #aaa;
    --paper-input-container-invalid-color: #aaa;
    --paper-input-container-input-color: #aaa;
}

paper-dropdown-menu {
    --paper-dropdown-menu-container-color: #aaa;
    --paper-dropdown-menu-container-focus-color: #aaa;
    --paper-dropdown-menu-container-invalid-color: #aaa;
    --paper-dropdown-menu-container-input-color: #aaa;
    --paper-input-container-color: #aaa;
    --paper-input-container-focus-color: #aaa;
    --paper-input-container-invalid-color: #aaa;
    --paper-input-container-input-color: #aaa;
}



.license-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.license-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}

.license-item-header[pending] {
    background-color: #3e4e3e;
    background-size: 64px 64px;
    background-image: linear-gradient(135deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%,
    transparent 75%,
    transparent);

    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 128px 0;}
}


.license-item-body {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgba(255,255,255,0.05);

}

.license-item-body-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.license-item-body-price {
    font-size: 2em;
}

.licenseInput {
    display: inline-block;
    margin-left: 10px;
    width: 400px;
}

paper-input {
    display: inline-block;
}

.license-area {
    display: table;
    -webkit-border-vertical-spacing: 2px;
    width: 100%;
}

[hidden] {
    display: none;
}

.license-area[hidden] {
    display: none;
}

.release-button {
    position: absolute;
    bottom: 0;
    right: 10%;
    background-color: #2176bd;
    color: whitesmoke;
}

.contributor-tag {
    display: flex;
    flex-direction: row;
    background-color: #3e4e3e;
    border: 5px solid transparent;
    margin: 2px;
    align-items: center;
    justify-content: space-between;
}

.royalty-tag {
    background-color: #3e3e4e;
    display: flex;
}

.contributor-input {
    display: inline-block;
    margin-left: 10px;
    width: 400px;
}

.contributor-tag > div {
    display: flex;
    line-height: 1;
    padding: 2px;
}

.contributor-name {
    font-weight: lighter;
    min-width: 100px;
    margin-right: 10px;
    border: none;
    background: rgba(255,255,255, 0.05);
    width: 100px;
    color: #a1a1a1;
    padding: 2px;
    font-size: 1em;
}

.deleteButton {
    width: 16px;
    height: 16px;
    padding: 0;
    border-radius: 2px;
}

.contributor-address {
    text-align: center;
    font-size: 1em;
    border: none;
    background: rgba(255,255,255, 0.05);
    color: #a1a1a1;
    padding: 2px;
    margin-left: 5px;
    flex-grow: 1;
}

.form-section {
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 20px;
    min-height: 150px;
}

.shares {
    width: 80px;
    text-align: right;
    font-size: 1em;
    border: none;
    background: transparent;
    color: #a1a1a1;
    padding: 2px;
}

.royalty-amount {
    width: 80px;
    text-align: right;
    font-size: 1em;
    border: none;
    background: transparent;
    color: #a1a1a1;
    padding: 2px;
}

.value-units {
    font-size: 1.5em;
    width: 20px;
}

.input-with-units {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255,255,255, 0.05);
}

.price {
    width: 100px;
    text-align: right;
    font-size: 1em;
    border: none;
    background: rgba(255,255,255, 0.05);
    color: #a1a1a1;
    padding: 2px;
}

.audio-input-section {
    background-color: rgba(255,255,255, 0.05);
    flex-grow: 1;
    font-weight: lighter;
    cursor: pointer;
    display: flex;
    margin-right: 10px;
    position: relative;
    height: 40px;
}

.audio-input-section[hidden] {
    cursor: default;
    display: none;
}

.music-icon {
    width: 40px;
    background-color: #3e4e3e;
    height: 40px;
}

.music-file-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.music-file-size {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: #7e7e7e;
    font-size: small;
}


.normal-margin {
    margin-right: 10px;
    margin-left: 10px;
}

.stripes {
    background-size: 64px 64px;
    background-image: linear-gradient(135deg,
        rgba(255, 255, 255, .05) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .05) 50%,
        rgba(255, 255, 255, .05) 75%,
        transparent 75%,
        transparent);

    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 128px 0;}
}

.royalty-area-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.royalty-header {
    display: flex;
    margin: 5px;
    font-size: 2em;
    font-weight: lighter;
}

.royalty-instructions {
    text-align: justify;
    color: #777676;
    padding-left: 60px;
    padding-right: 100px;
}