:host {
    --msc-tip-button-background: var(--msc-background-hightlight);
}


.tip {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--msc-tip-button-font-size, large);
    font-weight: lighter;
    cursor: pointer;
    position: relative;
    background-color: var(--msc-tip-button-background);
}

.tip[failed] {
    background-color: #81281b;
}

.tip[disabled] {
    color: var(--msc-subtle-text-color);
    cursor: default;
}

.tip[pending] {
    background-color: rgba(100,100,100,0.1);
    background-size: 64px 64px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    animation: animate-stripes-msc-tip-button-0 3s linear infinite;
    border-radius: 3px;

    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 128px 0;}
}
