:host {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.top {
    display: flex;
    flex-direction: row;
}

.pic {
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.name-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.name {
    font-size: 40px;
    font-weight: lighter;
    color: #9c9c9c;
    display: flex;
    display: flex;
    align-items: center;
    height: 50%;
}

.social {

}

.songs {

}

.bio {
    font-weight: lighter;
    text-align: justify;
    color: #777676;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.action {
    width: 90%;
    height: 32px;
    background-color: #00b050;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: lighter;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #abbab2;
}

.follow {
    background-color: #3b3838;
}

.follow[following] {
    background-color: #00b050;
}

.tip {
    width: 90%;
}

.tip[failed] {
    background-color: #81281b;
}

.tip[pending] {
    background-color: #3e4e3e;
    background-size: 64px 64px;
    background-image: linear-gradient(135deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%,
    transparent 75%,
    transparent);

    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 128px 0;}
}