:host {
}

.mainStatus {

}

.blocks { margin-top: 5px; margin-bottom: 2px; }

#lastBlock {
    float: left;
}

#blockNumber {
    margin-right: 10px;
}

#chainVersion {
    position: absolute;
    left: 25px;
}

.syncStatus {
    position: absolute;
    top: 50px;
    left: 250px;
}

.syncStatus div {
    float: left;
}

#peers { justify-content: unset }


.right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.container {
    font-weight: lighter;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.time-area {

}

.item-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.sync-area {
    visibility: hidden;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.mining-area {
    color: white;
    cursor: pointer;
}

.mining-area[mining] {
  color: white;
}

.sync-area[syncing] {
    visibility: visible;
}

.item-icon {
}

.version {
    margin-left: 10px;
}