:host {
  width: 100%;
  display: block;
}
paper-menu-button {
  width: 100%;
  padding: 0;
  background-color: var(--primary-background-color);
}
paper-button {
  width: 100%;
  height: 64px;
  text-transform: none;
  justify-content: flex-start;
  --paper-button: {
    justify-content: flex-start;
  };
}

paper-menu-button {
  --paper-menu-button-dropdown: {
    width: 100%;
  };
  --paper-menu-button-content: {
    width: 100%;
  };
}

.name-and-balance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  text-align: center;
}