:host {
  display: flex;
  background-color: black;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.login-elements {
  position: fixed;
  top: 50%;
  left: 20%;
  width: 45%;
  height: 25%;
  padding: 2em;
  transform: translate(-35%, -50%);
}

.login-text-box {
  --paper-input-container-color: #686868;
  --paper-input-container-focus-color: var(--msc-highlight-color);
  --paper-input-container-input-color: var(--msc-highlight-color);
}

.login-label {
  font-size: 2em;
  display: flex;
  align-items: center;
}

.action {
  color: var(--msc-highlight-color);
  font-style: italic;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
}

paper-dropdown-menu {
  width: 100%;
}

.user-area {
  display: flex;
  flex-direction: row;
}

identicon-element {
  margin-right: 10px;
}

.dropdown-content {
  background-color: var(--msc-opaque-background);
}

#background {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  overflow: hidden;
  background-image: url('/interface/images/wallpaper/concert2.jpg');
  opacity: 1 !important;
  background-size: cover;
}

.title {
  position: absolute;
  top: -50px;
  left: 20px;
  margin-bottom: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

#forceHideButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.mt20 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 23px;
  padding-bottom: 6px;
}

.mt80 {
  margin-top: 18%;
  font-weight: 400;
  font-size: 38px;
}

#introStatus {
  padding-top: 6px;
  font-family: 'Lato' sans-serif;
  font-weight: 400;
  display: flex;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  color: lightgrey;
  background: rgba(0,0,0,0.4);
}

paper-progress {
  --paper-progress-height: 6px;
}

paper-dialog {
  background-color: black !important;
  opacity: 0.9 !important;
}

paper-button {
  text-transform: none;
  color: #FAFAFA;
  margin: 8px;
}

.buttons-style {
  display: flex;
  justify-content: center;
  font-family: 'Lato' sans-serif;
  font-weight: 900 !important;
  font-size: 18px;
  border-radius: 5px;
  padding-bottom: 4px;
}

#new-account {
  background: #fad644;
  color: #302d38;
}

#old-wallet {
  background: #fff;
  color: #302d38;
}

#continue {
  background: rgb(122, 182, 12);
  color: #302d38;
  font-size: 24px;
}
