:host {
    display: block;
    margin: 0px;
}

.header {
    font-weight: lighter;
    display: flex;
    align-items: center;
    font-size: 2em;
}

.back-button {
    padding: 0px 0px 10px;
}

h3 {
    font-weight: lighter;
    margin-bottom: 0px;
}

paper-button {
    text-transform: none;
}

paper-button > iron-icon {
    margin-right: 5px;
}

paper-input {
    --paper-input-container-color: #aaa;
    --paper-input-container-focus-color: #aaa;
    --paper-input-container-invalid-color: #aaa;
    --paper-input-container-input-color: #aaa;
}

paper-dropdown-menu {
    --paper-dropdown-menu-container-color: #aaa;
    --paper-dropdown-menu-container-focus-color: #aaa;
    --paper-dropdown-menu-container-invalid-color: #aaa;
    --paper-dropdown-menu-container-input-color: #aaa;
    --paper-input-container-color: #aaa;
    --paper-input-container-focus-color: #aaa;
    --paper-input-container-invalid-color: #aaa;
    --paper-input-container-input-color: #aaa;
}

.license-detail {
    display: table-cell;
    text-align: center;
}

.cell-header {
    display: table-cell;
    text-align: center;
}

.header-row {
    display: table-row;
    border: 5px solid transparent;
    margin: 2px;
    align-items: center;
    min-width: 100px;
    background-color: transparent;
}

.license-view-button {
    cursor: pointer;
}

.license-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.license-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
}

.license-item-body {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.license-name {
    font-weight: lighter;
    min-width: 100px;
    margin-right: 10px;
    border: none;
    width: 100px;
    padding: 2px;
    font-size: 1em;
}

.licenseInput {
    display: inline-block;
    margin-left: 10px;
    width: 400px;
}

paper-input {
    display: inline-block;
}

.license-area {
    display: table;
    -webkit-border-vertical-spacing: 2px;
    width: 100%;
}

[hidden] {
    display: none;
}

.license-area[hidden] {
    display: none;
}

.work-image {
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    background-color: transparent;
    z-index: 2;
}

.work-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--msc-background-hightlight);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.numeric {
    text-align: right;
}

.top-section {
    display: flex;
    flex-direction: row;
}

.price-area {
    font-size: 1.5em;
    text-align: center;
    background-color: var(--msc-background-hightlight);
    border: 20px solid var(--msc-background-hightlight);
    border-top-width: 5px;
    position: absolute;
    border-radius: 10px;
    top: 10px;
    right: 50px;
    font-weight: lighter;
}

#price {
    font-size: 2em;
    width: 100px;
    background-color: transparent;
    border: 0;
    color: whitesmoke;
}

.coin {
    font-size: 2em;
}

.price-line {
    display: flex;
}

.main-section {
}

.license-address {
    color: var(--msc-subtle-text-color);
    font-size: small;
}

.music-file-size {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: var(--msc-subtle-text-color);
    font-size: small;
}

.image-area {
    position: relative;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.top-area {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.metadata-area {
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    padding: 5px 5px 0px 10px;
    justify-content: space-between;
}

.release-button {
    top: 0;
    right: 0;
    background-color: var(--msc-highlight-color);
    color: whitesmoke;
    margin: 0;
}

.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.status-bar[pending] {
    background-color: rgba(33, 118, 189, 0.12);
    background-size: 64px 64px;
    background-image: linear-gradient(135deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%,
    transparent 75%,
    transparent);

    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 128px 0;}
}

.instructions {
    text-align: justify;
    color: #777676;
    padding-left: 60px;
    padding-right: 100px;
}

.audio-input-section {
    background-color: var(--msc-background-hightlight);
    font-weight: lighter;
    cursor: pointer;
    display: flex;
    margin-top: 11px;
    position: relative;
    height: 64px;
    width: 100%;
    flex-grow: 0;
}

.audio-input-section[hidden] {
    cursor: default;
    display: none;
}

.music-file-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13px;
}

h3 {
    font-weight: lighter;
    margin-bottom: 0px;
}

paper-button {
    text-transform: none;
}

paper-button > iron-icon {
    margin-right: 5px;
}

paper-input {
    --paper-input-container-color: var(--msc-subtle-text-color);
    --paper-input-container-focus-color: var(--msc-subtle-text-color);
    --paper-input-container-invalid-color: var(--msc-subtle-text-color);
    --paper-input-container-input-color: var(--msc-subtle-text-color);
}

paper-dropdown-menu {
    --paper-dropdown-menu-container-color: var(--msc-subtle-text-color);
    --paper-dropdown-menu-container-focus-color: var(--msc-subtle-text-color);
    --paper-dropdown-menu-container-invalid-color: var(--msc-subtle-text-color);
    --paper-dropdown-menu-container-input-color: var(--msc-subtle-text-color);
    --paper-input-container-color: var(--msc-subtle-text-color);
    --paper-input-container-focus-color: var(--msc-subtle-text-color);
    --paper-input-container-invalid-color: var(--msc-subtle-text-color);
    --paper-input-container-input-color: var(--msc-subtle-text-color);
}

.license-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.license-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--msc-background-lowlight);
    cursor: pointer;
}

.license-item-header[pending] {
    background-color: #3e4e3e;
    background-size: 64px 64px;
    background-image: linear-gradient(135deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%,
    transparent 75%,
    transparent);

    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 128px 0;}
}


.license-item-body {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: var(--msc-background-hightlight);

}

.license-item-body-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.license-item-body-price {
    font-size: 2em;
}

.licenseInput {
    display: inline-block;
    margin-left: 10px;
    width: 400px;
}

paper-input {
    display: inline-block;
}

.license-area {
    display: table;
    -webkit-border-vertical-spacing: 2px;
    width: 100%;
}

[hidden] {
    display: none;
}

.license-area[hidden] {
    display: none;
}

.contributor-tag {
    display: flex;
    flex-direction: row;
    background-color: var(--msc-background-hightlight);
    border: 5px solid transparent;
    margin: 2px;
    align-items: center;
    justify-content: space-between;
}

.royalty-tag {
    background-color: var(--msc-background-hightlight);
    display: flex;
}

.contributor-input {
    display: inline-block;
    margin-left: 10px;
    width: 400px;
}

.contributor-tag > div {
    display: flex;
    line-height: 1;
    padding: 2px;
}

.contributor-name {
    font-weight: lighter;
    min-width: 100px;
    margin-right: 10px;
    border: none;
    background: var(--msc-background-hightlight);
    width: 100px;
    color: #a1a1a1;
    padding: 2px;
    font-size: 1em;
    height: 24px;
}

.deleteButton {
    width: 16px;
    height: 16px;
    padding: 0;
    border-radius: 2px;
}

.contributor-address {
    text-align: center;
    font-size: 1em;
    border: none;
    background: var(--msc-background-hightlight);
    color: #a1a1a1;
    padding: 2px;
    margin-left: 5px;
    flex-grow: 1;
    height: 24px;
}

.form-section {
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.shares {
    width: 80px;
    text-align: right;
    font-size: 1em;
    border: none;
    background: transparent;
    color: #a1a1a1;
    padding: 2px;
}

.royalty-amount {
    width: 80px;
    text-align: right;
    font-size: 1em;
    border: none;
    background: transparent;
    color: #a1a1a1;
    padding: 2px;
}

.value-units {
    font-size: 1.5em;
    width: 20px;
}

.input-with-units {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--msc-background-hightlight);
}

.price {
    width: 100px;
    text-align: right;
    font-size: 1em;
    border: none;
    background: var(--msc-background-hightlight);
    color: #a1a1a1;
    padding: 2px;
}

.normal-margin {
    margin-right: 10px;
    margin-left: 10px;
}

.royalty-area-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.royalty-header {
    display: flex;
    margin: 5px;
    font-size: 2em;
    font-weight: lighter;
}

.royalty-instructions {
    text-align: justify;
    color: var(--msc-subtle-text-color);
    padding-left: 60px;
    padding-right: 100px;
}

.advanced {

}