:host {
    display: block;
    margin: 0px;
    color: #aaa;
}

.header {
    color: #aaa;
    font-weight: lighter;
    display: flex;
    align-items: center;
    font-size: 2em;
}

.back-button {
    padding: 0px 0px 10px;
}

h3 {
    font-weight: lighter;
    margin-bottom: 0px;
}

paper-button {
    text-transform: none;
}

paper-button > iron-icon {
    margin-right: 5px;
}

paper-input {
    --paper-input-container-color: #aaa;
    --paper-input-container-focus-color: #aaa;
    --paper-input-container-invalid-color: #aaa;
    --paper-input-container-input-color: #aaa;
}

paper-dropdown-menu {
    --paper-dropdown-menu-container-color: #aaa;
    --paper-dropdown-menu-container-focus-color: #aaa;
    --paper-dropdown-menu-container-invalid-color: #aaa;
    --paper-dropdown-menu-container-input-color: #aaa;
    --paper-input-container-color: #aaa;
    --paper-input-container-focus-color: #aaa;
    --paper-input-container-invalid-color: #aaa;
    --paper-input-container-input-color: #aaa;
}

.license-detail {
    display: table-cell;
    text-align: center;
}

.cell-header {
    display: table-cell;
    text-align: center;
}

.header-row {
    display: table-row;
    border: 5px solid transparent;
    margin: 2px;
    align-items: center;
    min-width: 100px;
    background-color: transparent;
}

.license-view-button {
    cursor: pointer;
}

.license-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.license-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
}

.license-item-body {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.license-name {
    font-weight: lighter;
    min-width: 100px;
    margin-right: 10px;
    border: none;
    width: 100px;
    color: #a1a1a1;
    padding: 2px;
    font-size: 1em;
}

.licenseInput {
    display: inline-block;
    margin-left: 10px;
    width: 400px;
}

paper-input {
    display: inline-block;
}

.license-area {
    display: table;
    -webkit-border-vertical-spacing: 2px;
    width: 100%;
}

[hidden] {
    display: none;
}

.license-area[hidden] {
    display: none;
}

.work-image {
    height: 200px;
    width: 100%;
    left: 0px;
    right: 0px;
    background-color: transparent;
    z-index: 2;
}

.work-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.numeric {
    text-align: right;
}

.top-section {
    display: flex;
    flex-direction: row;
}

.price-area {
    font-size: 1.5em;
    text-align: center;
    background-color: #3e3e3e;
    border: 20px solid #3e3e3e;
    border-top-width: 5px;
    position: absolute;
    border-radius: 10px;
    top: 10px;
    right: 50px;
    font-weight: lighter;
}

#price {
    font-size: 2em;
    width: 100px;
    background-color: transparent;
    border: 0;
    color: whitesmoke;
}

.coin {
    font-size: 2em;
}

.price-line {
    display: flex;
}

.main-section {
}

.license-address {
    color: #7e7e7e;
    font-size: small;
}

.audio-input-section {
    background-color: #3e3e3e;
    flex-grow: 0.8;
    font-weight: lighter;
    cursor: pointer;
    display: flex;
    margin-right: 10px;
    position: relative;
}

.audio-input-section[hidden] {
    cursor: default;
}

.music-icon {
    width: 64px;
    background-color: #3e4e3e;
    height: 64px;
}

.music-file-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-right: 10px;
    margin-left: 10px;
}

.music-file-size {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: #7e7e7e;
    font-size: small;
}

.image-area {
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.top-area {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.metadata-area {
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    padding: 5px 5px 5px 10px;
}

.extended-metadata-area {
    display: table;
    table-layout: fixed;
    -webkit-border-vertical-spacing: 2px;
    -webkit-border-horizontal-spacing: 2px;
    width: 100%;
}

.extended-metadata-row {
    border: 5px solid white;
    margin: 2px;
    align-items: center;
    min-width: 100px;
}

.field-column {
    width: 30%;
}

.value-column {
    width: 60%;
}

.delete-column {
    width: 10%;
    background-color: #2c2c2c;
}

.extended-metadata-input {
    font-weight: lighter;
    min-width: 100px;
    margin-right: 10px;
    border: none;
    background: rgba(255,255,255, 0.05);
    color: #a1a1a1;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1em;
    width: 100%;
}

.delete-metadata-button {
    padding: 0;
    width: 20px;
    height: 20px;
}

.release-button {
    top: 0;
    right: 0;
    background-color: #2176bd;
    color: whitesmoke;
    margin: 0;
}

.contributor-tag {
    display: inline-flex;
    flex-direction: row;
    background-color: #3e4e3e;
    border: 5px solid transparent;
    margin: 2px;
    align-items: center;
    min-width: 100px;
}

.royalty-tag {
    background-color: #3e3e4e;
}

.contributor-tag > div {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.contributor-name {
    font-weight: lighter;
    min-width: 100px;
    margin-right: 10px;
    border: none;
    background: rgba(255,255,255, 0.05);
    width: 100px;
    color: #a1a1a1;
    padding: 2px;
    font-size: 1em;
}

.deleteButton {
    width: 16px;
    height: 16px;
    padding: 0;
    border-radius: 2px;
}

.contributor-address {
    color: #7e7e7e;
    font-size: small;
}

.shares {
    width: 50px;
    text-align: right;
    font-size: 1em;
    border: none;
    background: rgba(255,255,255, 0.05);
    color: #a1a1a1;
    padding: 2px;
}

.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.status-bar[pending] {
    background-color: rgba(33, 118, 189, 0.12);
    background-size: 64px 64px;
    background-image: linear-gradient(135deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%,
    transparent 75%,
    transparent);

    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 128px 0;}
}

.instructions {
    text-align: justify;
    color: #777676;
    padding-left: 60px;
    padding-right: 100px;
}