:host {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0,-110vh,0);
  transition: all 0.3s ease-in-out;
  background-color: black;
  padding: 0;
  overflow: auto;
}
:host[opened] {
  transform: translate3d(0,0,0);
}
:host>div {
  position: absolute;
  width: 100%;
}
.sub-menu-box {
  position:absolute;
  top:0;
  left:0;
}