:host {
}

.right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.container {
    font-weight: lighter;
    color: rgba(255,255,255,0.4);
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.time-area {

}

.item-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.sync-area {
    visibility: hidden;
}

a {
  color: rgba(255,255,255,0.4);
  text-decoration: none;  
}

.mining-area {
    color: rgba(255,255,255,0.05);
    cursor: pointer;
}

.mining-area[mining] {
    color: rgba(255,255,255,0.4);
}

.sync-area[syncing] {
    visibility: visible;
}

.item-icon {
}

.version {
    margin-left: 10px;
}