:host {

}

.full-screen {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

#works {
    display: flex;
    flex-direction: column;
}

.header {
    font-weight: lighter;
    font-size: 1.5em;
}


#workEditor {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 4;
}

msc-work-detail-view {
    margin: 2px 10px;
}

#addNewWorkButton {
    position: absolute;
    top: 1em;
    right: 2em;
    z-index: 3;
    background-color: var(--msc-highlight-color);
}