:host {

}

#gridView {
    background-color: #2c2c2c;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 2;
}

#workEditor {
    background-color: #2c2c2c;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 4;
}

#addNewWorkButton {
    position: absolute;
    top: 1em;
    right: 2em;
    z-index: 3;
    background-color: #2176bd;
}