:host {
  --app-layered-menu-top-width:48px;
}

:host {
  position:absolute;
  top: 120px;
  left:0;
  height:100vh;
  width:var(--app-layered-menu-top-width, 64px);
}
paper-icon-button {
  --paper-icon-button:{
    width:var(--app-layered-menu-top-width, 64px);
    height: var(--app-layered-menu-top-width, 64px);
    color: #b7bec8;
  }
}
#container {
  position:relative;

}
#topLayer {
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:var(--app-layered-menu-top-width, 64px);
  background-color:#1c2227;
  box-shadow: 3px 0 3px 0 hsla(207,16%,8%,1);
}
paper-menu {
  background-color:#1c2227;
  color:beige;
}
#bottomLayer {
  position:absolute;
  top:0;
  left:0;
  width:256px;
  height:100vh;
  background-color:#1c2227;
  box-shadow: 3px 0 3px 0 hsla(207,16%,8%,1);
}
.sub-menu-box {
  position:absolute;
  top:0;
  left:var(--app-layered-menu-top-width, 64px);
  right:0;
  transform:translate3d(-150%,0,0);
  opacity:0;
  transition:transform 200ms ease, opacity 250ms ease;
}
.sub-menu-box.active {
  transform:translate3d(0,0,0);
  opacity:1;
}