:host {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transform: translate3d(0,-110vh,0);
  transition: all 0.5s ease-in-out;
  color: #686868;
  z-index: 1003;
  background-size: cover;
  background-image: url(../../images/login.jpg);
  display: flex;
  justify-content: center;
}

:host[login-lock] {
  transform: translate3d(0,0,0);
}
img {
  width: 2.5em;
  height: 2.5em;
}
.login-elements {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3vh 5vw;
  display: flex;
}
iron-selector {
  width: 60vw;
  height: 82vh;
  overflow: hidden;
}
iron-selector .user-item {
  height: 8vh;
}
iron-icon {
  opacity: 0.5;
  margin-right: 1.5vw;
  transition: opacity 210ms ease;
}
.user-item {
  display: flex;
  align-items: center;
  padding: 0 1vw;
}
.user-item span {
  max-width: 20vw;
  width: 20vw;
}
.user-item.iron-selected iron-icon {
  opacity: 1;
}
paper-input,
paper-button.no-pass {
  transform: translate3d(100vw,0,0);
  opacity: 0;
  transition: transform 50ms ease, opacity 50ms ease;
}
paper-button.new-user {
  margin: 0;
  padding-left: 0;
}
.user-item.iron-selected paper-input,
.user-item.iron-selected paper-button.no-pass {
  transform: translate3d(0,0,0);
  opacity: 1;
  transition: transform 250ms ease, opacity 1000ms ease;
}

@keyframes shakeit {
  0%   {margin-bottom: 0px;background-color:transparent;}
  25%  {margin-bottom: 15px;background-color:rgba(255, 69, 0, 0.18);}
  50%  {margin-bottom: 0px;background-color:transparent;}
  75%  {margin-bottom: 15px;background-color:rgba(255, 69, 0, 0.18);}
  100% {margin-bottom: 0px;background-color:transparent;}
}

paper-input.shakeit {
  animation: shakeit 300ms;
}

paper-input {
  --paper-input-container-color: #686868;
  --paper-input-container-focus-color: #2176bd;
  --paper-input-container-input-color: #2176bd;
  max-width: 30vw;
}

.login-label {
  font-size: 2em;
}
