:host {
    font-weight: lighter;
    margin: 10px;
}

h1 {
    font-weight: lighter;
}

.detailView {
    display: flex;
    flex-direction: column;
}

.row {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255, 0.05);
    border-radius: 4px;
}

.row[incoming] {
    background-color: rgba(255,255,255, 0.15);
}

.play {

}

.art {
    width: 64px;
    height: 64px;
    background-size: cover;
    background-position: center;
    margin: 0;
    border-radius: 4px 0 0 4px;
}

.cell {
    display: flex;
    align-items: center;
    margin: 5px;
}

.song {
    font-size: larger;
}

.artist {
    font-size: small;
}

.address {
    font-size: small;
}

.amount {
    font-size: 1.5em;
    min-width: 50px;
    justify-content: flex-end;
    margin-right: 10px;
}

.song-details {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.event-details {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.type {
    width: 50px;
    justify-content: center;
}

.direction {
    width: 50px;
    justify-content: center;
}