:host {
  display: flex;
}
.audio-progress-area {
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
}

paper-progress.audio-progress {
  --paper-progress-active-color: #2176bd;
  --paper-progress-secondary-color: var(--google-grey-300);
  --paper-progress-container-color: var(--google-grey-500);
  width: 100%;
}

.audio-control-area {
  align-items: center;
  display: flex;
  flex-grow: 0.8;
  width: 200px;
}

.audio-info {
  width: 100%;
  color: #7e7e7e;
  text-align: center;
  font-size: small;
  white-space: nowrap;
}

.audio-info-track {
  font-style: italic;
}
.tip-button {
  width: 38px;
  height: 38px;
  margin-top: 10px;
}

.action-button {
  width: 48px;
  height: 48px;
  --paper-icon-button-ink-color: #2176bd;
}

.audio-progress-area {
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.audio-control-area {
  align-items: center;
  display: flex;
  flex-grow: 0.9;
}

.audio-info {
  width: 100%;
  color: #7e7e7e;
  text-align: center;
  font-size: small;
  white-space: nowrap;
  margin: 2px;
}

.audio-info-track {
  font-style: italic;
}

#miniImage {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: var(--app-secondary-background-color);
}

.tip-label {
  display: block;
  color: #7e7e7e;
  text-align: center;
  font-size: small;
  line-height: 1;
}