:host {
  display: block;
  margin: 0px;
  color: #aaa;
}

.header {
  color: #aaa;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  margin-left: 20px;
}

h3 {
  font-weight: lighter;
  margin-bottom: 0px;
}

paper-input {
  --paper-input-container-color: #aaa;
  --paper-input-container-focus-color: #aaa;
  --paper-input-container-invalid-color: #aaa;
  --paper-input-container-input-color: #aaa;
}

paper-dropdown-menu {
  --paper-dropdown-menu-container-color: #aaa;
  --paper-dropdown-menu-container-focus-color: #aaa;
  --paper-dropdown-menu-container-invalid-color: #aaa;
  --paper-dropdown-menu-container-input-color: #aaa;
  --paper-input-container-color: #aaa;
  --paper-input-container-focus-color: #aaa;
  --paper-input-container-invalid-color: #aaa;
  --paper-input-container-input-color: #aaa;
}

.contributor-tag {
display: inline-flex;
flex-direction: row;
background-color: #3e4e3e;
border: 5px solid transparent;
margin: 2px;
align-items: center;
min-width: 100px;
}

.royalty-tag {
background-color: #3e3e4e;
}

.contributor-tag > div {
margin-right: 5px;
margin-left: 5px;
display: flex;
flex-direction: column;
line-height: 1;
}

.shares {
width: 50px;
text-align: right;
font-size: 1em;
border: none;
background: rgba(255,255,255, 0.05);
color: #a1a1a1;
padding: 2px;

}

.deleteButton {
width: 16px;
height: 16px;
padding: 0;
border-radius: 2px;
}

[hidden] {
display: none;
}

.contributor-name {
font-weight: lighter;
min-width: 100px;
margin-right: 10px;
border: none;
background: rgba(255,255,255, 0.05);
width: 100px;
color: #a1a1a1;
padding: 2px;
font-size: 1em;
}

.contributorInput {
display: inline-block;
margin-left: 10px;
width: 400px;
}

paper-input {
display: inline-block;
}

.contributor-area {
}

.work-image {
height: 200px;
width: 100%;
left: 0px;
right: 0px;
background-color: #333;

}

.numeric {
text-align: right;
}

.top-section {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.price-area {
font-size: 1.5em;
text-align: center;
background-color: #3e3e3e;
border: 20px solid #3e3e3e;
border-top-width: 5px;
position: absolute;
border-radius: 10px;
top: 10px;
right: 50px;
font-weight: lighter;
}

#price {
font-size: 2em;
width: 100px;
background-color: transparent;
border: 0;
color: whitesmoke;
}

.coin {
font-size: 2em;
}

.price-line {
display: flex;
}

.main-section {
margin-left: 20px;
margin-right: 20px;
}

.contributor-address {
color: #7e7e7e;
font-size: small;
}

.audio-input-section {
background-color: #3e3e3e;
flex-grow: 0.8;
font-weight: lighter;
cursor: pointer;
display: flex;
margin-right: 10px;
position: relative;
}

.audio-input-section[hidden] {
cursor: default;
}

.music-icon {
width: 64px;
background-color: #3e4e3e;
height: 64px;
}

.music-file-text {
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5em;
margin-right: 10px;
margin-left: 10px;
}

.music-file-size {
position: absolute;
bottom: 0px;
right: 5px;
color: #7e7e7e;
font-size: small;
}
