:host {

}

.container {
    background-color: rgba(255,255,255,0.8);
    color: black;
    padding: 15px;
    padding-top: 5px;
    border-radius: 5px;
}

.parameter {
    text-decoration: underline;
}

p {
    display: inline;
}

h3 {
    text-align: center;
}

.logo {
    height: 50px;
}