:host {

}

.container {
    background-color: rgba(255,255,255,0.8);
    color: black;
}

#readable {
    display: block;
}

#legal {
    display: none;
}

#source {
    display: none;
}


.tab:hover {
    text-decoration: underline;
}

.tab[selected] {
    color: black;
}


.tab {
    margin-right: 20px;
    color: var(--msc-subtle-text-color);
    cursor: pointer;
}

.tab-area {
    display: flex;
    justify-content: flex-end;
}